<a href="https://colab.research.google.com/github/tankien76/CS114.K21/blob/master/Round3after.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [0]:
dataset = pd.read_csv("http://cs.uit.edu.vn/data3.txt",sep = " ",delimiter= ",")
dataset.columns=["Input","Runtime"]

In [0]:
import math
df=pd.DataFrame(dataset)
Size2=df['Input']**2
Sizelog=[df['Input'][i]*math.log2(df['Input'][i]) for i in range(len(dataset))]
df['Input2']=Size2
df['Inputlog']=Sizelog

In [17]:
dataset.head()

      Input  Runtime            Input2      Inputlog
0  37395246  3.92089  1398404423400516  9.407280e+08
1  36610827  3.21540  1340352653623929  9.198751e+08
2  29555651  2.54506   873536506033801  7.334805e+08
3  25928216  2.21831   672272384942656  6.385606e+08
4  30423112  2.61376   925565743764544  7.562779e+08

In [0]:
X = dataset[['Input','Input2','Inputlog']]
Y = dataset['Runtime'].values.reshape(-1,1)

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [29]:
LR = LinearRegression()
LR.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
Y_pred = LR.predict(X_test)

In [31]:
df = pd.DataFrame({'Actual': Y_test.flatten(), 'Predicted': Y_pred.flatten()})
df

       Actual  Predicted
0     2.39698   2.472646
1     2.66026   2.703255
2     2.75597   2.748712
3     2.90832   2.856783
4     1.94031   1.992021
...       ...        ...
3172  2.81642   2.752693
3173  3.23221   3.241965
3174  1.93803   1.980168
3175  2.37918   2.375538
3176  2.12308   2.141346

[3177 rows x 2 columns]

In [0]:
Model mới có performent tốt hơn một ít so với model cũ khi tăng train và test lên 0,0003

In [33]:
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, Y_pred))
print("Train: ",LR.score(X_train,Y_train))
print("Test: ",LR.score(X_test,Y_test))

Mean Squared Error: 0.0033205998985766857
Train:  0.988347935866094
Test:  0.9884805895580643